body{
    font-family: 'Teko', sans-serif;
}
h1{
    font-size: 50px;
    color: gray;
}
.blue-color{
    color: blue;
}
.top-section{
    display: flex;
    margin-bottom: 100px;
}
.welcome-section{
    
    background-image: url(images/welcome.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 100%;
    padding: 0 2px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    font-weight: 700;
    padding: 5px 40px;
    border-radius: 10px;

}
p{
    text-align: justify;
}
.my-dream-section{
    
    background-image: url(images/my-dream.png);
    background-repeat: no-repeat;
    background-position: right;
