body{
    font-family: 'Teko', sans-serif;
}
h1{
    font-size: 50px;
    color: orange;
}
h3{
    color: darkslategray;
}
.blue-color{
    color: blue;
}
.flexible_container{
    display: flex;
    margin-bottom: 100px;
}
.welcome-section{
    
    background-image: url(images/welcome.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 50%;
    padding: 0 2px;
}
.half-width img{
    width: 100%;

}
.link-button{
    text-decoration: none;
    background-color: orange;
    font-weight: 700;
    padding: 5px 40px;
    border-radius: 10px;

}
p{
    text-align: justify;
    color: darkolivegreen;
}
.my-dream-section{
    
    background-image: url(images/my-dream.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item{
    width: 40%;
    margin: 0 5%;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray ;

}
.exp-brac-aarong{
    border-left: 10px solid;
    border-image: linear-gradient(gray, yellow);
    border-image-slice: 1;
    background-image: url(images/aarong.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.exp-friendship{
    border-left: 10px solid;
    border-image: linear-gradient(pink, red);
    border-image-slice: 1;
    background-image: url(images/friendship.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
footer p{
    color: gray;
    text-align: center;
}